@{
    ViewBag.Title = "AccountTableChildAction";
    Layout = null;
}
@using PagedList
@using PagedList.Mvc
@*@model List < OnlineAccountBook.Models.ViewModels.AccountItemViewModels > *@
@model IEnumerable<OnlineAccountBook.Models.ViewModels.AccountItemViewModel> 

@using OnlineAccountBook.ExtensionMethods;

@{ int serial = 0;}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="col-md-1 text-center">#</th>
                <th class="col-md-2 text-center">類別</th>
                <th class="col-md-2 text-center">日期</th>
                <th class="col-md-2 text-center">金額</th>
                <th class="col-md-5">備註</th>
            </tr>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@(serial++)</td>
                    <td>@Html.DoColorLabel(data.Category)</td>
                    <td>@data.Date.ToString("yyyy-MM-dd")</td>
                    <td>@data.Money.ToString("N0")</td>
                    <td class="word-wrap">@data.Description</td>
                </tr>
            }
        </table>
        @Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))
    </div>
</div>


